<div class="wrapper">
  <div class="container">
    <%= render 'layouts/admins_tabs', active: 'solved' %>
    <%= render 'layouts/search_field', url: '/admins/questions/solved' %>
    
    <% @questions.each do |question|%>
      <%= render 'layouts/question', question: question %>
    <% end %>
    <%= render 'layouts/paginate', contents: @questions %>
  </div>
</div>