<% if logged_in? && is_for_admin? %>
  <div class="wrapper">
    <div class="container">
      <%= render 'layouts/admins_tabs', active: 'solved' %>
      <%= render 'layouts/search_field', url: '/admins/questions/solved' %>
      
      <% @questions.each do |question|%>
        <%= render 'layouts/question', question: question, show_path: admins_question_path(question.id) %>
      <% end %>
      <%= render 'layouts/paginate', contents: @questions %>
    </div>
  </div>
<% end %>