<div class="wrapper">
  <div class="container">
    <%= render 'layouts/tabs', active: 'solved' %>
    <%= render 'layouts/search_field', url: '/questions/solved' %>
    <% @questions.each do |question|%>
      <%= render 'layouts/question', question: question, show_path: question_path(question.id) %>
    <% end %>
    <%= render 'layouts/paginate', contents: @questions %>
  </div>
</div>