<div class="wrapper">
  <div class="container">
    <%= render 'layouts/tabs', active: 'unsolved' %>
    <%= render 'layouts/search_field', url: '/questions/unsolved' %>
    <% @questions.each do |question|%>
      <%= render 'layouts/question', question: question %>
    <% end %>
    <%= render 'layouts/paginate', questions: @questions %>
  </div>
</div>