<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>さん、新しい質問が追加されました！</h1>
    <p>
      新しい質問が追加されました。<br>
      ===============<br>
      質問者　 :<%= @question.user.name %><br>
      タイトル :<%= @question.title %><br>
      ===============<br>
    </p>
    <p>
      このサイトにログインして回答してください。
    </p>
  </body>
</html>